ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    color:#454545;
    -webkit-text-stroke: 0.01px white;
  }
  #screenPar{
   
    width:35vw;
    
    margin-left: 26.2vw; 
    
  }
  
 
  @media screen and (max-width: 600px) {
    #screenPar{
        width:45vw;
        margin-left: 18vw;
    
    }}
  #stack{
    margin-top: 14vw;
    -webkit-text-stroke: 0.2px black;
  }
  li:hover{
    color: #99B03B;
  }
  