



html {
  font-family: "Varela Round", sans-serif;
}
body{
  background: white;
  background-image:url('b20.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
  font-size:1em;
}
header {
  
  position: fixed;
  top: 0;
  left: 0;
  height: 8vw;
  width: 100%;
  background: #454545;
  text-align: center;
  display: inline-block;
  z-index: 5;
  color: #999999;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#main {
  position: absolute;
  width: 92vw;
}
.icon {
  display: inline-block;
  margin-left: 8vw;
  margin-top:1.8vw;
  font-size: 2vw;
}

i:hover {
  color: 	#99B03B;
}

.topper{
  margin-top:1vw;
  font-size:1.5vw;
}
.side {
  position: fixed;
  top: 44vh;
  font-size: 7.5vh;
  z-index: 5;
  color: #454545;
}
#left {
  position: fixed;
  left: 1vw;
}
#right {
  position: fixed;
  right: 1vw;
}

.use {
 
   
  position: relative;
  left:5vw;
  top: 16vw;
  text-align: center;
  width: 90vw;
  margin-bottom:8vh;
  color:  #454545;
  font-size: 1em;
  word-wrap: break-word;
  
}
@media screen and (max-width: 800px) {
  .use{
    top:46vh;
    width:80vw;
    left:10vw;
  }
  header{
    height:10vw;
  }
.icon{
  font-size: 5vw;
  margin-top: 0.8vw;
}
.topper{
  font-size:1.2vw
}
body{
  background-position-y: 10vh;
}
}
::-webkit-scrollbar {
  width: 10px;
 }
::-webkit-scrollbar-track {
  background: #999999; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:	#99B03B; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

















